In [5]:
import pandas as pd
import numpy as np

In [6]:
titanic = pd.read_csv('titanic.csv', encoding = 'utf-8')
mean = titanic['Age'].mean()
sd = titanic['Age'].std()
titanic.dropna(inplace= True)
titanic['AgeZscore'] = titanic['Age'].apply(lambda x : (x-mean)/sd)

titanic[['PassengerId','AgeZscore']]

     PassengerId  AgeZscore
1              2   0.571430
3              4   0.364911
6              7   1.672866
10            11  -1.769120
11            12   1.948225
..           ...        ...
871          872   1.190988
872          873   0.227232
879          880   1.810545
887          888  -0.736524
889          890  -0.254646

[183 rows x 2 columns]

In [7]:
titanic.drop(['Name', 'Cabin'], inplace = True, axis = 1)

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
titanic

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,AgeZscore
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C,0.571430
3,4,1,1,female,35.0,1,0,113803,53.1000,S,0.364911
6,7,0,1,male,54.0,0,0,17463,51.8625,S,1.672866
10,11,1,3,female,4.0,1,1,PP 9549,16.7000,S,-1.769120
11,12,1,1,female,58.0,0,0,113783,26.5500,S,1.948225
...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,female,47.0,1,1,11751,52.5542,S,1.190988
872,873,0,1,male,33.0,0,0,695,5.0000,S,0.227232
879,880,1,1,female,56.0,0,1,11767,83.1583,C,1.810545
887,888,1,1,female,19.0,0,0,112053,30.0000,S,-0.736524
889,890,1,1,male,26.0,0,0,111369,30.0000,C,-0.254646

In [10]:
cat_cols = ['Sex', 'Embarked']
le = LabelEncoder()
for col in cat_cols:
    titanic[col] = le.fit_transform(titanic[col])
target = titanic.corr()['Survived']
print (target[target != 1].sort_values().keys()[0],' = ',target[target != 1].sort_values()[0], '\n',
       target[target != 1].sort_values().keys()[-1], ' = ' ,target[target != 1].sort_values()[-1], sep = '')

Sex = -0.5324179744538412
PassengerId = 0.14849516407260796

In [46]:
boston = pd.read_csv('boston.csv', encoding = 'utf-8')

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
boston

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [49]:
feature_cols = boston.columns.difference(['MEDV'])

# variable selection
x = boston[feature_cols]
y = boston['MEDV']

x = pd.DataFrame(sds.fit_transform(x), columns = feature_cols)

# data split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 42)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((354, 13), (152, 13), (354,), (152,))

In [50]:
from sklearn.linear_model import LinearRegression

In [51]:
lr = LinearRegression(normalize= True, fit_intercept = True)
lr.fit(x, y)
pd.DataFrame(zip(x.columns,lr.coef_), columns = ['feature','coefficients'])

    feature  coefficients
0       AGE      0.019466
1         B      0.849268
2      CHAS      0.681740
3      CRIM     -0.928146
4       DIS     -3.104044
5     INDUS      0.140900
6     LSTAT     -3.743627
7       NOX     -2.056718
8   PTRATIO     -2.060607
9       RAD      2.662218
10       RM      2.674230
11      TAX     -2.076782
12       ZN      1.081569

In [52]:
from sklearn.ensemble import GradientBoostingRegressor, AdaBoostRegressor, RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

In [53]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sds = StandardScaler()
boston = sds.fit_transform(boston)

In [54]:
rf = RandomForestRegressor()

rf_grid = {
    'n_estimators' : [100, 300, 500],
    'max_depth' : [None, 1, 2, 3]
}

In [55]:
rf

RandomForestRegressor()

In [56]:
grid_cv = GridSearchCV(rf,param_grid = rf_grid, cv = 5)
grid_cv.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid={'max_depth': [None, 1, 2, 3],
                         'n_estimators': [100, 300, 500]})

In [57]:
grid_cv.best_params_

{'max_depth': None, 'n_estimators': 100}

In [58]:
y_pred = pd.Series(grid_cv.predict(x_test))
grid_cv.score(x_test, y_test)

0.8762026776605387

In [154]:
xgb = XGBRegressor()
xgb.fit(x_train, y_train)
xgb.score(x_test,y_test)

0.8719217262333209

In [155]:
ada = AdaBoostRegressor()
ada.fit(x_train,y_train)
ada.score(x_test,y_test)

0.7855046037142578