In [254]:
import pandas as pd
import numpy as np

In [255]:
train = pd.read_csv('train.csv', encoding = 'utf-8')
test = pd.read_csv('test.csv', encoding = 'utf-8')
sub = pd.read_csv('sample_submission.csv', encoding = 'utf-8')

In [256]:
test.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     42
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

- null 값 처리

In [257]:
target_cols = ['도보 10분거리 내 지하철역 수(환승노선 수 반영)','도보 10분거리 내 버스정류장 수']
train[target_cols] = train[target_cols].fillna(0)
test[target_cols] = test[target_cols].fillna(0)

In [258]:
train['임대료'] = train['임대료'].fillna('-').replace('-','0').astype('int')
train['임대보증금'] = train['임대보증금'].fillna('-').replace('-','0').astype('int')

test['임대료'] = test['임대료'].fillna('-').replace('-','0').astype('int')
test['임대보증금'] = test['임대보증금'].fillna('-').replace('-','0').astype('int')

In [259]:
train['임대료'][train['임대료'] == 0] = np.nan
mean1 = np.nanmean(train['임대료']).astype('int')
train['임대료'] = train['임대료'].fillna(mean1)


train['임대보증금'][train['임대보증금'] == 0] = np.nan
mean1 = np.nanmean(train['임대보증금']).astype('int')
train['임대보증금'] = train['임대보증금'].fillna(mean1)


test['임대료'][test['임대료'] == 0] = np.nan
mean1 = np.nanmean(test['임대료']).astype('int')
test['임대료'] = test['임대료'].fillna(mean1)


test['임대보증금'][test['임대보증금'] == 0] = np.nan
mean2 = np.nanmean(test['임대보증금']).astype('int')
test['임대보증금'] = test['임대보증금'].fillna(mean2)

<ipython-input-259-3a8714543ddf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['임대료'][train['임대료'] == 0] = np.nan
<ipython-input-259-3a8714543ddf>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['임대보증금'][train['임대보증금'] == 0] = np.nan
<ipython-input-259-3a8714543ddf>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['임대료'][test['임대료'] == 0] = np.nan
<ipython-input-259-3a8714543ddf>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['임대보증금'][test['임대보증금'] == 0] = np.nan

In [260]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1022 non-null   object
 1   총세대수                          1022 non-null   int64
 2   임대건물구분                        1022 non-null   object
 3   지역                            1022 non-null   object
 4   공급유형                          1022 non-null   object
 5   전용면적                          1022 non-null   float64
 6   전용면적별세대수                      1022 non-null   int64
 7   공가수                           1022 non-null   float64
 8   자격유형                          1020 non-null   object
 9   임대보증금                         1022 non-null   float64
 10  임대료                           1022 non-null   float64
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  1022 non-null   float64
 12  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 13  단지내주차면수                       1022 non-null   float64
dtypes: float64(7), int64(2), object(5)
memory usage: 111.9+ KB

In [261]:
train['임대보증금'] = np.log1p(train['임대보증금'])
train['임대료'] = np.log1p(train['임대료'])

test['임대보증금'] = np.log1p(test['임대보증금'])
test['임대료'] = np.log1p(test['임대료'])

In [262]:
target_cols = ['공공임대(10년)','공공임대(50년)','공공임대(분납)','공공임대(5년)']
train['공급유형'] = train['공급유형'].replace(target_cols,'공공임대')

test['공급유형'] = test['공급유형'].replace(target_cols,'공공임대')

- get_ dummy 
- one hot encoding

In [263]:
zero = pd.DataFrame(np.zeros(len(df_test)),columns = ['서울특별시'])
train = pd.concat(
    [train,pd.get_dummies(train['지역']),
    pd.get_dummies(train['임대건물구분'])],
    axis = 1
    )


test = pd.concat(
    [test,pd.get_dummies(test['지역']),
    zero ,
    pd.get_dummies(test['임대건물구분'])],
    axis = 1)
drop_cols = ['지역','임대건물구분']


for col in drop_cols:
    del train[col]
    del test[col]

In [264]:
from sklearn.preprocessing import LabelEncoder

In [266]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   공급유형                          2952 non-null   object
 3   전용면적                          2952 non-null   float64
 4   전용면적별세대수                      2952 non-null   int64
 5   공가수                           2952 non-null   float64
 6   자격유형                          2952 non-null   object
 7   임대보증금                         2952 non-null   float64
 8   임대료                           2952 non-null   float64
 9   도보 10분거리 내 지하철역 수(환승노선 수 반영)  2952 non-null   float64
 10  도보 10분거리 내 버스정류장 수            2952 non-null   float64
 11  단지내주차면수                       2952 non-null   float64
 12  등록차량수                         2952 non-null   float64
 13  강원도                           2952 non-null   uint8
 14  경기도                           2952 non-null   uint8
 15  경상남도                          2952 non-null   uint8
 16  경상북도                          2952 non-null   uint8
 17  광주광역시                         2952 non-null   uint8
 18  대구광역시                         2952 non-null   uint8
 19  대전광역시                         2952 non-null   uint8
 20  부산광역시                         2952 non-null   uint8
 21  서울특별시                         2952 non-null   uint8
 22  세종특별자치시                       2952 non-null   uint8
 23  울산광역시                         2952 non-null   uint8
 24  전라남도                          2952 non-null   uint8
 25  전라북도                          2952 non-null   uint8
 26  제주특별자치도                       2952 non-null   uint8
 27  충청남도                          2952 non-null   uint8
 28  충청북도                          2952 non-null   uint8
 29  상가                            2952 non-null   uint8
 30  아파트                           2952 non-null   uint8
dtypes: float64(8), int64(2), object(3), uint8(18)
memory usage: 351.8+ KB

In [268]:
le = LabelEncoder()
cat_cols = ['공급유형','자격유형']
for col in cat_cols:
    train[col] = le.fit_transform(train[col])
    test[col] = le.fit_transform(test[col])

In [269]:
test.head()

,단지코드,총세대수,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),...,세종특별자치시,울산광역시,전라남도,전라북도,제주특별자치도,충청남도,충청북도,서울특별시,상가,아파트
0,C1072,754,1,39.79,116,14.0,5,16.943586,12.153942,0.0,...,0,0,0,0,0,0,0,0.0,0,1
1,C1072,754,1,46.81,30,14.0,0,17.400362,12.428940,0.0,...,0,0,0,0,0,0,0,0.0,0,1
2,C1072,754,1,46.90,112,14.0,5,17.400362,12.428940,0.0,...,0,0,0,0,0,0,0,0.0,0,1
3,C1072,754,1,46.90,120,14.0,5,17.400362,12.428940,0.0,...,0,0,0,0,0,0,0,0.0,0,1
4,C1072,754,1,51.46,60,14.0,5,17.588203,12.600750,0.0,...,0,0,0,0,0,0,0,0.0,0,1

In [270]:
df_train = train.groupby('단지코드').mean()
df_test = test.groupby('단지코드').mean()

In [271]:
df_train.shape, df_test.shape

((423, 30), (150, 29))

In [279]:
feature_cols = df_train.columns.difference(['등록차량수'])
x_train = df_train[feature_cols]
y_train = df_train['등록차량수']
x_test = df_test
x_train.shape, y_train.shape, x_test.shape

((423, 29), (423,), (150, 29))

In [273]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

In [283]:
x_test['서울특별시'] = x_test['서울특별시'].fillna(0)

In [284]:
rf = RandomForestRegressor()
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)
y_pred

array([44.34, 45.32, 38.08, 39.2 , 41.05, 47.05, 37.87, 38.77, 44.29,
       44.72, 41.46, 37.94, 38.08, 38.25, 38.73, 38.51, 44.29, 44.72,
       42.9 , 44.54, 39.2 , 38.51, 37.32, 38.41, 44.34, 41.22, 38.79,
       39.19, 47.05, 44.34, 47.43, 43.48, 43.96, 39.2 , 38.75, 38.36,
       44.29, 41.45, 38.38, 44.34, 44.72, 44.72, 43.94, 38.73, 44.72,
       39.2 , 38.51, 38.13, 38.61, 41.04, 42.11, 42.82, 43.95, 44.29,
       38.51, 47.43, 40.65, 37.94, 37.94, 34.98, 44.72, 38.08, 39.16,
       37.72, 44.69, 44.29, 42.82, 41.05, 44.69, 38.51, 44.72, 44.29,
       37.72, 37.51, 43.94, 43.96, 38.37, 42.82, 38.47, 47.43, 47.43,
       44.29, 44.29, 37.32, 41.45, 37.94, 37.89, 38.19, 47.43, 44.69,
       44.29, 44.72, 35.58, 39.17, 44.34, 39.16, 44.72, 41.22, 44.72,
       43.96, 38.08, 39.4 , 44.72, 38.43, 39.58, 39.4 , 39.11, 42.44,
       39.2 , 44.72, 44.72, 37.72, 44.29, 44.34, 38.08, 44.34, 44.72,
       44.5 , 38.36, 39.16, 36.58, 44.34, 38.51, 40.23, 38.08, 45.41,
       44.72, 37.87, 37.94, 42.07, 37.87, 38.72, 44.34, 44.72, 44.93,
       37.72, 37.87, 38.44, 44.34, 44.72, 44.72, 37.26, 37.23, 44.29,
       43.96, 44.29, 38.79, 45.32, 38.64, 44.5 ])